body{
    margin: 0;
    background-color: rgb(48, 50, 51);
}
#clockcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(58, 58, 58);
    width: 100%;
}